.country {
  color: #fff;
  border: 2px solid rgba(163, 142, 142, 0.336);
  border-radius: 10px;
  word-wrap: break-word;
  margin: 0 10px;
  height: 100%;
}

.country-image {
  border-radius: 10px 0 0 10px;
}

.purple {
  color: #20c997;
}

.blue {
  color: #0d6efd;
}
